################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectManagementSystem/.vs/
.vs
bin
obj
*.user
